*{
  margin: 0;
  padding: 0;
}
.burgerMenu{
  display: none;
  padding-right: 30px;
  cursor: pointer;
}
.bar{
  width: 35px;
  height: 4px;
  background-color: white;
  margin: 5px;
}
#mainMenu{
  height: 70px;
  width: 100%;
  background-color: rgb(73, 53, 64);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  color: white;
}
#mainMenu ul{
  display: flex;
  padding-right: 30px;
}
#mainMenu ul li{
  text-decoration: none;
  list-style: none;
}
#mainMenu ul li a{
  color: white;
  list-style: none;
  padding: 20px;
  text-decoration: none;
}
#logo{
 
  height: 50px;
  padding-left: 30px;
  display: flex;
  align-items: center;
}
#logo h6{
  font-size: 16pt;
  width: 200px;
  margin: 0px 0px 0px 20px;
  color: white;
  font-weight: 200;

}
#logo img{
  width: 50px;
  height: 50px;
}

.container{
  height: auto;
  width: 100%;
  display: flex;
  padding-top: 80px;
  box-sizing: border-box;
 
  flex-wrap: wrap;
}
.row{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;

}

.left, .right{
  width: 50%;
}
.right p{
  width: 80%;
  font-size: 12pt;
}
.left p{
  width: 80%;
  font-size: 12pt;
  margin-left: 20%;
}

#error-page{
  text-align: center;
}

#home{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  background-image: url(images/home.jpg);
  background-size: cover;
  background-position: center center;
  color: white;
  background-color: white;
  padding: 10vh 0 10vh 0;
  
}
#logoHome{
  width: 30vh;
}
#home .item{
  width: 100%;
  justify-content: center;
  
}

#home h6{
  padding-bottom: 50px;
}
#home p{
  margin-bottom: 100px;
  width: 70%;
  transform: translateX(-50%);
  margin-left: 50%;
}

#btnPlus{
  padding: 10px;
  color: rgb(70, 56, 68);
  border: 3px solid white;
  border-radius: 25px;
  margin: 200px 0px 0px 0px;
  text-decoration: none;
  background-color: white;
  font-weight: bold;
}

/* About  */
#about h1{
  width: 100%;
  color:rgb(73, 53, 64);
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.photoSandra{
  width: 50%;
  background-image: url(images/sandra.jpeg);
  min-height: 50vh;
  background-size: cover;
  background-position: center top;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 50px;
}
#rectangle{
  width: 50%;
  border: 3px solid rgb(73, 53, 64);
  min-height: 50vh;
  margin-top: -55vh;
  margin-left: 65%;
  transform: translateX(-65%);
  margin-bottom: 20px;
}
.photoSalon{
  width: 50%;
  background-image: url(images/salon.jpeg);
  min-height: 50vh;
  background-size: cover;
  background-position: center center;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 50px;
}
.rose{
  background-color: rgb(252, 229, 248);
}
.rose h1{
  width: 100%;
}

/* Massages */
.massages{
  background-color:rgb(252, 229, 248) ;
}
.massages h1{
  width: 100%;
  text-align: center;
  color:rgb(73, 53, 64);
}
.massagesList{
  justify-content: space-around;
  width: 100%;
}
.card{
  width: 25%;
  background-color: rgb(73, 53, 64);
  height: auto;
  padding:10px;
  margin-bottom: 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.204);
  color: white;
  text-align: center;
}
.card h5{
  font-size: 15pt;
  font-weight: normal;
}
.card button{
  border: 1px solid white;
  background-color: transparent;
  color: white;
  padding:8px;
  border-radius: 50px;
  font-weight:bold;
  width: 100%;
  transition: all 1s;
  margin-top: 10px;
  cursor: pointer;
}
.card button:hover{
  background-color: white;
  color:rgb(73, 53, 64);
}
#btnContact{
  background-color: white;
  color:rgb(73, 53, 64) ;
  cursor: pointer;
}
#contactCard{
  display: flex;
  flex-wrap: wrap;
  align-items:flex-end;
  justify-content: center;
}
#contactCard h3{
  width: 100%;
}
.img{
  margin: 15px 0 15px 0;
  width: 100%;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
}
.harmonisant{
  background-image: url(images/Harmonisant.jpg) !important;
}
.kansu{
  background-image: url(images/kansu.jpg) !important;
}
.tibetain{
  background-image: url(images/tibetain.jpg) !important;
}
.amma{
  background-image: url(images/amma-assis.jpg) !important;
}
.dos{
  background-image: url(images/dos.jpg) !important;
}
.cranien{
  background-image: url(images/cranien.jpg) !important;
}
.jambes{
  background-image: url(images/jambesLourdes.jpg) !important;
}
.sportif{
  background-image: url(images/sportif-post.jpg) !important;
}
.palliatif{
  background-image: url(images/palliatif-post.jpg) !important;
}
.pinceaux{
  background-image: url(images/palliatif-post.jpg) !important;
}
.palmaire{
  background-image: url(images/jambesLourdes.jpg) !important;
}
.cadeau{
  background-image: url(images/cheque.jpg) !important;
}


.card p{
  font-size: 11pt;
}
/* Footer */

#footer{
  height: auto;
  
  width: 100%;
  background-color: rgb(73, 53, 64);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 14px;
  align-items: center;
  text-align: center;
}
.footerLogo img{
  width: 80px;
  padding-top: 30px;
  padding-bottom: 20px;
  
}
.networks{
  width: 30px;
  padding: 10px;
}
@media (max-width: 810px){
    #mainMenu ul{
      display: none;
    }
  .burgerMenu{
    display: block;
  }
  #footer{
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 750px){
  .row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .left, .right{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .right p, .left p{
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  
}
@media (max-width: 400px){
  #logo h6{
    display: none;
  }
}