*{
  margin: 0;
  padding: 0;
}

#mainMenu{
  height: 60px;
  width: 100%;
  background-color: rgb(73, 53, 64);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 1
}
#mainMenu ul{
  display: flex;
  padding-right: 30px;
}
#mainMenu ul li{
  text-decoration: none;
  list-style: none;
}
#mainMenu ul li a{
  color: white;
  list-style: none;
  padding: 20px;
  text-decoration: none;
}
#logo{
  width: 50px;
  height: 50px;
  padding-left: 30px;
}
#logo img{
  width: 50px;
  height: 50px;
}

.container{
  width: 100%;
  display: flex;
  padding-top: 80px;
  box-sizing: border-box;
}
.row{
  width: 100%;
  display: flex;
  
}

.left, .right{
  width: 50%;
}
#error-page{
  text-align: center;
}

#home{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;
  background-image: url(images/imageHome.jpg);
  background-size: cover;
  background-position: center center;
  color: white;
  background-color: white;
  
}
#logoHome{
  width: 20vh;
}
#home .item{
  width: 100%;
}

#home h6{
  padding-bottom: 50px;
}

#btnPlus{
  padding: 10px;
  color: white;
  border: 3px solid white;
  border-radius: 25px;
  margin: 100px 0px 0px 0px;
  text-decoration: none;
}